<h1>Editing Assignments Student Course</h1>

<%= render 'form', assignments_student_course: @assignments_student_course %>

<%= link_to 'Show', @assignments_student_course %> |
<%= link_to 'Back', assignments_student_courses_path %>
